## Enable syntax highlithing
source /usr/local/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

## Disable tmux pane autorenaming
DISABLE_AUTO_TITLE="true"

## Nvim alias
alias n="nvim"
alias vim="nvim"
alias vi="nvim"

## History with time
HIST_FORMAT="'%Y-%m-%d %T:'$(echo -e '\t')"
alias history="fc -t "$HIST_FORMAT" -il 1"

## Vi editing mode
#bindkey -v
#export KEYTIMEOUT=1
#bindkey '^P' up-history
#bindkey '^N' down-history
#bindkey '^?' backward-delete-char
#bindkey '^h' backward-delete-char
#bindkey '^w' backward-kill-word
#bindkey '^r' history-incremental-search-backward

## mc cyrillic issue solved (:
export LC_ALL='en_US.UTF-8'
# alias mc='LC_ALL="en_US.UTF-7" mc'

## mc wrapper
#alias mc='. /usr/local/Cellar/midnight-commander/4.8.19/libexec/mc/mc-wrapper.sh'

## shell function to view man pages in Preview app
pman() {
    man -t ${@} | open -f -a /Applications/Preview.app/
}

## refresh shell
alias reload='. ~/.zshrc'

## ls aliases
alias ls='ls -GCF' # color, multicolumns, filetypes
alias la='ls -A' # all files except . and .. (almost all)
alias l.='ls -d .*' # only hidden fil
alias ll='ls -lah' # long list alphabetical sort
alias lt='ls -lahtr' # long list oldest first sort
alias lz='ls -lahS' # long list largest first
alias l='ls -dlh' # long dir info

## custom cd
c() {
    cd $1;
    ls;
}
alias cd="c"

## Interactive by default
alias rm='rm -i'
alias mv='mv -i'

## lock computer
alias lock='/System/Library/CoreServices/"Menu Extras"/User.menu/Contents/Resources/CGSession -suspend'

## myip, FQDN
alias myip="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
alias fqdn="host `hostname`"

## rsync
alias rsynk="rsync -avzhP"

## Reattach to session or create new
alias tt="tmux attach -t base || tmux new -s base"

## GNUPG encryption settings
GPG_TTY=$(tty)
# Tell the pinentry program to use the nice, full-screen pinentry program:
export PINENTRY_USER_DATA="USE_CURSES=1"
